---
layout: default
section: programa
title: esLibre 2019 - BYOT (Bring Your Own Talk)
---

<h1 class="mt-3 mb-3">Devroom 1: Software Libre en la universidad (15:00 - 16:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/logo.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Espacio comunitario: "BYOT (Bring Your Own Talk)"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <p>
    <strong>¿Tienes algo que contar, pero no te parecía que fuera algo tan formal como para presentar una charla para el programa principal?</strong><br><br>
    Pues dispones de una última oportunidad para hacerlo. Este espacio tendrá la siguientes restricciones:
    <ul>
      <li>"Lightning talks" de una duración máxima de 20 minutos para que cualquiera que quiera pueda dar una charla informal</li>
      <li>Necesario apuntarse previamente in situ hasta que se llene todo el espacio de tiempo disponible</li>
    </ul>
  </p>
</div>
